<!DOCTYPE html>
{% load static %}
<html lang="en">


<head>
    <meta charset="UTF-8">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="{% static 'bootstrap/3.3.6/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'bootstrap/3.3.6/css/bootstrap-theme.min.css' %}">
<script src="{% static 'bootstrap/3.3.6/js/bootstrap.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'ymenubar.css' %}">

    <title>Upload your picture</title>
</head>
<body>

<!-- menu bar -->

<ul class="ymenubar">
  <li><a href="{% url 'app1:home' %}">Home</a></li>
  <li><a href="{% url 'app1:gallery' %}">Gallery</a></li>
  <li><a href="{% url 'app1:tag_list' %}">Tag list</a></li>
  <li><a class="active" href="{% url 'app1:upload' %}" >Upload</a></li>
  <li><a href="#This">Picture</a></li>
</ul>

<!-- contents body -->
<div class="container">
    <h1> Upload file ...</h1>
    <div class="container">
        <form class="form-inline" action="{% url 'app1:picupload' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
            <input id="id_image" type="file" name="image" class="filestyle">
            Tags:<input type="text" name="tags">
            <input type="submit" value="Submit" class="btn btn-primary" />
        </form>
    </div>
</div>


</body>
</html>